/*
 Theme Name: tt4ai
 Description: Child theme of Twenty Twenty-Four with theme.json from Twenty Twenty-Four
 Version: 0.3.1
 Tags: full-site-editing
 Template: twentytwentyfour
 Text domain: tt4ai
 Author: Bobbing Wide
 Author URI: https://bobbingwide.com/about-bobbing-wide
 License: GPL-2.0+
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/